{% extends 'base.html' %}
{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<hr>
<h2 class="price">Pricing</h2>
    {% for a in auto %}

        <li class="auto">
            <div class="box" id="grid">
                <div class="box-title">
                    <p>{{a.title}}</p>
                </div>
                <p class="annonce-auto">{{a.text}}</p>
                <div class="bot">
                <input type="submit" value="Купить авто" id="but">
                </div>
            </div>
        </li>

    {% endfor %}
{% endblock %}

