{% extends 'base.html' %}
{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<hr>
<h2 class="price">Pricing</h2>
    {% for a in auto %}

        <li class="auto">
            <div class="box" id="grid">

                    <p class="title-auto">
                        <a href="{{ url_for('show_auto', alias=a.url) }}">{{a.title}}</a>
                    </p>

                <p class="annonce-auto">{{a.text}}</p>
                <input type="submit" value="Купить авто" id="but">
            </div>
        </li>

    {% endfor %}
{% endblock %}

