{% extends 'bigs_cars/base.html' %}
{% load static %}
{%  block content %}

<h1> Большие дороги для Больших машин</h1>

<div class="img">
    <img src="{% static 'bigs_cars/monster.jpg' %}" alt="">
</div>
<h2>Каталог внедорожников</h2>

<div class="block">
    {% for project in projects %}
    <div class="element">
        <div>
        <img src="{{ project.image.url }}" alt="">
        </div>
        <div class="text">
            <h2><a href="{{ project.url }}" class="h" target="_blank">{{ project.title}}</a></h2>
            <p>{{ project.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{%  endblock %}