/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,
wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500
;1,700;1,900&display=swap'); */

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: #8cf0d7;
}
.wrap{
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
}
.element{
    background-color: rgb(185, 217, 245);
    border: 10px solid#FFF;
    margin: 20px 0;
}
.text{
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
} 
.block img{
    max-width: 800px;
}
.content h1{
    text-align: center;
    margin: 60px 40px 40px;
    font-size: 60px;
}
.img + h2, .text h2{
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
}
.img{
    text-align: center;
    margin: 20px auto 60px;
}
.img img{
    border: 10px solid #FFF;
}
.menu{
    background: #cdf5f1;
    padding: 10px;
    border-bottom: 10px solid #FFF;
}
.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}
.menu li{
    margin-left: 40px;
}
.menu a{
    color: #663366;
    font-weight: bold;
    text-decoration: none;
}
.wrap_user{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;
}
.menu_1{
    background: #003366;
    box-shadow: 0 2px 12px 2px #003366;

}
ul{
    list-style: none;
    padding: 0;
}
.menu_1 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.menu_1 a{
    color: #FFF;
}
