{% extends 'generator/base.html' %}

{% block content %}
<h1>Программa "Генератор паролей"</h1><br>
<h4>Автор Борисов Д.А./ Студент группы 'PYTHON-225'</h4>
<h2>Правила работы генератора</h2>
<hr>
<h4>1.Выбрать желаемое количество символов пароля( от 6 до 17),<br>
    зайдя по стрелке в список выпадающего меню.<br>
    По умолчанию длина пароля - 17.<br>
    2.Выбрать желаемые символы, входящие в пароль.<br>
    3.Запустить генерацию пароля.</h4>


<p><a href="{% url 'home' %}">Вернуться на главную страницу.</a></p>

{% endblock %}


